In [19]:
import pandas as pd
import numpy as np

In [20]:
musics = pd.read_csv("/Users/yanjiexu/Desktop/DBproj/tracks_features.csv")

In [21]:
musics.shape

(1204025, 24)

In [22]:
musics.columns.values

array(['id', 'name', 'album', 'album_id', 'artists', 'artist_ids',
       'track_number', 'disc_number', 'explicit', 'danceability',
       'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms',
       'time_signature', 'year', 'release_date'], dtype=object)

In [23]:
musics['artists'].unique()
musics.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [24]:
artists = musics[['artists', 'artist_ids']]
artists = artists.drop_duplicates()

In [25]:
mydict = artists.to_json(orient="records")

In [26]:
import json
parsed = json.loads(mydict)
len(parsed)

166434

In [27]:
import ast
names = parsed[0]['artists']
names = ast.literal_eval(names)
for name in names:
    print(name)

Rage Against The Machine

In [28]:
def processArtist_AID(parsed):
    artist_id = {}
    for i in range(len(parsed)):
        names, ids = parsed[i]['artists'], parsed[i]['artist_ids']
        names = ast.literal_eval(names)
        ids = ast.literal_eval(ids)
        for j in range(len(names)):
            if ids[j] not in artist_id:
                artist_id[ids[j]] = names[j]
    return artist_id

In [29]:
id_artist = processArtist_AID(parsed)

In [30]:
import csv
with open('artists.csv', 'w') as f:
    for key in id_artist.keys():
        f.write("%s\t%s\n"%(key,id_artist[key]))

In [34]:
albums = musics[['album_id', 'album','release_date']]
albums = albums.drop_duplicates(ignore_index= True)
albums.to_csv('/Users/yanjiexu/Desktop/DBproj/albums.csv',index=False)

In [31]:
songs = musics[[ 'id','name', 'album_id', 'duration_ms', 'release_date']]
songs.head()

,id,name,album_id,duration_ms,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,2eia0myWFgoHuttJytCxgX,210133,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,2eia0myWFgoHuttJytCxgX,206200,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,2eia0myWFgoHuttJytCxgX,298893,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,2eia0myWFgoHuttJytCxgX,213640,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,2eia0myWFgoHuttJytCxgX,205600,1999-11-02

In [32]:
songs.to_csv('/Users/yanjiexu/Desktop/DBproj/songs.csv',index=False)

In [11]:
songs[:5]

,name,id,album_id,artist_ids,duration_ms,year,release_date
0,Testify,7lmeHLHBe4nmXzuXc0HDjk,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj'],210133,1999,1999-11-02
1,Guerrilla Radio,1wsRitfRRtWyEapl0q22o8,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj'],206200,1999,1999-11-02
2,Calm Like a Bomb,1hR0fIFK2qRG3f3RF70pb7,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj'],298893,1999,1999-11-02
3,Mic Check,2lbASgTSoDO7MTuLAXlTW0,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj'],213640,1999,1999-11-02
4,Sleep Now In the Fire,1MQTmpYOZ6fcMQc56Hdo7T,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj'],205600,1999,1999-11-02

In [51]:
artist_album_map = musics[['album_id', 'artist_ids']].drop_duplicates()
artist_album_map

,album_id,artist_ids
0,2eia0myWFgoHuttJytCxgX,['2d0hyoQ5ynDBnkvAbJKORj']
12,4LaRYkT4oy47wEuQgkLBul,['2d0hyoQ5ynDBnkvAbJKORj']
22,4evw6IBex3N8x1oA2axMTH,['77tT1kLj6mCWtFNqiOmP9H']
36,0eaPZK3nTV2Ei075j2t6Na,['2U6gqwyl9F33YxawnFrZG7']
47,2yxoWG32Id6PzkER95aCtY,['4sh4MHP7lhrSUakxwZzwqz']
...,...,...
1203999,2c3RatEKHU9sF0kv0ynQO2,['71Cez1b1NqsxIn5u8XNiQD']
1204011,6aHlKXvgMOgKxwQDCadMin,['71Cez1b1NqsxIn5u8XNiQD']
1204015,5K45d2l5PJXVy5ESK0gKg2,['71Cez1b1NqsxIn5u8XNiQD']
1204018,4mpGPCYjrzAeRWC6r08C2n,"['4IR8ZkpbyyKrqsIzchF3NB', '6fUcX0Rh7Z17l8jAFQ..."
1204019,38O5Ys0W9PFS5K7dMb7yKb,['7AjItKsRnEYRSiBt2OxK1y']

In [52]:
artist_album_map_json = artist_album_map.to_json(orient="records")
artist_album_map_json = json.loads(artist_album_map_json)
artist_album_map_json[0]

{'album_id': '2eia0myWFgoHuttJytCxgX',
 'artist_ids': "['2d0hyoQ5ynDBnkvAbJKORj']"}

In [58]:

ans = []
album_ids, artist_ids = artist_album_map_json[0]['album_id'], artist_album_map_json[0]['artist_ids']
artist_ids = ast.literal_eval(artist_ids)
for j in range(len(artist_ids)):
    ans.append((album_ids, artist_ids[j]))
print(album_ids)
print(artist_ids)
print(ans)

2eia0myWFgoHuttJytCxgX
['2d0hyoQ5ynDBnkvAbJKORj']
[('2eia0myWFgoHuttJytCxgX', '2d0hyoQ5ynDBnkvAbJKORj')]

In [59]:
def processTwoAtttributeMapping(parsed, first_param, second_param):
    ans = []
    for i in range(len(parsed)):
        album_ids, artist_ids = parsed[i][first_param], parsed[i][second_param]
        # album_ids = ast.literal_eval(album_ids)
        artist_ids = ast.literal_eval(artist_ids)
        for j in range(len(artist_ids)):
            ans.append((album_ids, artist_ids[j]))
    return ans

In [61]:
ans = processTwoAtttributeMapping(artist_album_map_json, 'album_id', 'artist_ids')

In [ ]:
with open('album_artist.csv', 'w') as f:
    for key in id_artist.keys():
        f.write("%s\t%s\n"%(key,id_artist[key]))

In [13]:
new_artists = [artist[2:-2] for artist in artists]
type(new_artists)

list

In [14]:
myset = set(new_artists)
art = pd.DataFrame(myset)

TypeError: unhashable type: 'numpy.ndarray'

In [15]:
art.to_csv('/Users/yanjiexu/Desktop/test.csv')

NameError: name 'art' is not defined